.vscode/**
.vscode-test/**
.vscode-test.mjs
out/**
test/**
fixtures/**
src/**
node_modules/**
scripts/**
esbuild.mjs
vitest.config.mts
tsconfig.json
**/*.map
media/editor/index.html
**/*.ts
.gitignore
pnpm-lock.yaml
!bin/**
